body {
  background-color: #1b1b1b !important;
  color: #a9aab0 !important;
  font-family: "Quicksand", sans-serif !important;
  margin: 0;
  width: 100vw !important;
  height: 100vh !important;
  margin-bottom: -200px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #9e2f46;
  border-radius: 10px;
  margin: 1px;
}

::-webkit-scrollbar-thumb {
  background: #e8bec7;
  border-radius: 10px;
}

